<div class="container">
  <div class="left-area">
    <h1>Filed User Details Entry</h1>
  </div>
  <div class="right-area">
    <button mat-raised-button color="primary"><mat-icon>add</mat-icon>Add a new user details</button>
    <mat-card>
      <h3>Submitted User Details:</h3>
      <mat-list>
        <mat-list-item> First Name:  </mat-list-item>
        <mat-list-item> Last Name: </mat-list-item>
        <mat-list-item> Email: </mat-list-item>
        <mat-list-item> Monthly Advertising Budget: </mat-list-item>
        <mat-list-item> Phone Number: </mat-list-item>
      </mat-list>
    </mat-card>


  </div>
</div>